service: liquid-api

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    STAGE: ${self:provider.stage}
    CURRENCY_TABLE: ${self:custom.currencyTable}
    USERS_TABLE: ${self:custom.usersTable}
    ALLOWED_ORIGIN: ${self:custom.allowedOrigin.${self:provider.stage}, '*'}
    EXCHANGE_RATE_API_URL: ${self:custom.exchangeRateApiUrl}
    EXTERNAL_API_TIMEOUT: ${self:custom.externalApiTimeout, '5'}
    CACHE_TTL_HOURS: ${self:custom.cacheTtlHours, '1'}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY, 'dev-secret-key-change-in-production'}
    JWT_ALGORITHM: HS256
    JWT_EXPIRATION_HOURS: 24
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
          Resource:
            - Fn::GetAtt:
                - CurrencyRatesTable
                - Arn
            - Fn::GetAtt:
                - UsersTable
                - Arn

functions:
  login:
    handler: handler.login
    layers:
      - { Ref: PythonRequirementsLambdaLayer }
    events:
      - http:
          path: /auth/login
          method: post
          cors: true
  convert:
    handler: handler.convert
    layers:
      - { Ref: PythonRequirementsLambdaLayer }
    events:
      - http:
          path: /convert
          method: post
          cors: true
  health:
    handler: handler.health
    layers:
      - { Ref: PythonRequirementsLambdaLayer }
    events:
      - http:
          path: /health
          method: get
          cors: true
  swagger:
    handler: swagger_handler.swagger_ui
    layers:
      - { Ref: PythonRequirementsLambdaLayer }
    events:
      - http:
          path: /swagger
          method: get
          cors: true
  swaggerYaml:
    handler: swagger_handler.swagger_yaml
    layers:
      - { Ref: PythonRequirementsLambdaLayer }
    events:
      - http:
          path: /swagger.yaml
          method: get
          cors: true

resources:
  Resources:
    CurrencyRatesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.currencyTable}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: from_currency
            AttributeType: S
          - AttributeName: to_currency
            AttributeType: S
        KeySchema:
          - AttributeName: from_currency
            KeyType: HASH
          - AttributeName: to_currency
            KeyType: RANGE
        TimeToLiveSpecification:
          Enabled: true
          AttributeName: ttl
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usersTable}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH

plugins:
  - serverless-python-requirements

custom:
  currencyTable: currency-rates-${self:provider.stage}
  usersTable: users-${self:provider.stage}
  allowedOrigin:
    dev: '*'
    prod: ${env:ALLOWED_ORIGIN, 'https://seu-dominio.com'}
  exchangeRateApiUrl: ${env:EXCHANGE_RATE_API_URL, 'https://api.exchangerate-api.com/v4/latest'}
  externalApiTimeout: ${env:EXTERNAL_API_TIMEOUT, '5'}
  cacheTtlHours: ${env:CACHE_TTL_HOURS, '1'}
  pythonRequirements:
    dockerizePip: true
    dockerImage: public.ecr.aws/sam/build-python3.11:latest
    pythonBin: python3
    layer: true
    slim: false
